#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: rgba(var(--accent-yellow), 0.08);
  color: #111827;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

:root {
  --accent-yellow: 250, 224, 102;
  --accent-yellow-dark: 212, 150, 15;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(var(--accent-yellow), 0.35));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(var(--accent-yellow), 0.35));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: rgba(var(--accent-yellow), 0.9);
}
